## Working with functions

In [3]:
print max('SILVA')

print min('SILVA')

V
A

In [5]:
d = { 'a':1000, 'b':3000, 'c':100 }

print 'a=1000, b=3000, c=100'

print 'Maximal = ' + max(d, key = d.get)
print 'Minimal = ' + min(d, key = d.get)

a=1000, b=3000, c=100
Maximal = b
Minimal = c

In [7]:
print len('SILVA')

5

## Data type casting, or type conversion

int()

float()

str()

In [11]:
num1 = raw_input('Type in an integer number: ')
num2 = raw_input('Type in another integer number: ')

# conversion from string to integer
print int(num1) + int(num2)

Type in an integer number: 4
Type in another integer number: 5
9

In [12]:
num1 = raw_input('Type in an real number: ')
num2 = raw_input('Type in another real number: ')

# conversion from string to real
print float(num1) + float(num2)

Type in an real number: 3.14
Type in another real number: 2.68
5.82

In [14]:
birth_year = raw_input('What is your birth year? ')
actual_year = 2017
age = actual_year - int(birth_year)
print 'Your are ' + str(age) + ' years old'

What is your birth year? 1980
Your are 37 years old


## Math functions

In [25]:
import math
import cmath

print math.pi

print math.e

print cmath.sqrt(-1)

3.14159265359
2.71828182846
1j

## Basic Trigonometric functions

In [29]:
x = float(raw_input('Type in a number:'))
a = math.sin(x)
b = math.cos(x)
c = math.tan(x)

print 'sin ' + str(x) + ' = ' + str(a)

print 'cos ' + str(b) + ' = ' + str(b)

print 'tg ' + str(c) + ' = ' + str(c)

Type in a number:6.28
sin 6.28 = -0.00318530179314
cos 0.999994926913 = 0.999994926913
tg -0.00318531795253 = -0.00318531795253